@font-face {
  font-family: 'VisbyRoundCF';
  src: url('./assets/fonts/VisbyRoundCF-Regular.eot');
  src: url('./assets/fonts/VisbyRoundCF-Regular.woff') format('woff');
}
@font-face {
  font-family: 'VisbyRoundCFBold';
  src: url('./assets/fonts/VisbyRoundCF-Bold.eot');
  src: url('./assets/fonts/VisbyRoundCF-Bold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0.4vw;
  }
  ::-webkit-scrollbar-track {
    background: rgba(16, 5, 77, 0.8);
    border-radius: 0.3rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
    box-shadow: inset 0 0 0.7rem #3d065f;
    border-radius: 0.3rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
    box-shadow: inset 0 0 0.4rem #45108a;
    border-radius: 0.3rem;
  }
}

@layer components {
  .bg-image {
    background: url(./assets/img/bg.png) no-repeat center center/cover;
  }
}
