@font-face {
  font-family: 'VisbyRoundCF';
  src: url('./assets/fonts/VisbyRoundCF-Regular.eot');
  src: url('./assets/fonts/VisbyRoundCF-Regular.woff') format('woff');
}
@font-face {
  font-family: 'VisbyRoundCFBold';
  src: url('./assets/fonts/VisbyRoundCF-Bold.eot');
  src: url('./assets/fonts/VisbyRoundCF-Bold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .App {
    font-family: 'VisbyRoundCF';
  }
  .PageOne,
  .PageTwo > div:first-child > div:last-child div:first-child,
  .PageThree > div:first-child > div:first-child div:first-child,
  .Contact > div > div:first-child > div:first-child h4 {
    font-family: 'VisbyRoundCFBold';
  }
  .App > div:first-child {
    background: url(./assets/img/bg.png) no-repeat center center/cover;
  }
}
